h1{
    text-align: center;
    text-shadow: 3px 3px 10px black;
}

h4{
    text-align: center;
    text-shadow: 3px 3px 10px black;
}

body{
    background-color:lightgrey;
    display: flex;
    flex-direction: column;
}

#heading{
    background-color: black;
    display: inline-block;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

